* {
    font-size: 25px;
    line-height: 1.7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;      
}

body{
    padding: 100px;
}

rt {
    font-size: 0.6em;
    opacity: 0;
}

button {
    margin: 30px 0;
}

/* Phone */

h1{
    color: blue;
    font-size: 25px;
}

/* Tablet */
@media only screen and (min-width:600px){

    h1 {
        color: aqua;
        font-size: 30px;
    }
}

/* Desktop */
@media only screen and (min-width: 768px) {

    h1{
        color: red;
        font-size: 40px;
    }
    
}